.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    } 

.ButtonContainer { 
    grid-area: 2 / 4 / 3 / 5; 
    margin-top: 100;
} 

button{
    background: linear-gradient(to bottom, #66ccff 0%, #ccccff 100%);
    border-color: black;
    border-width: 2px;
    padding: 15px;
    float: right;
}