/* Style the navigation menu */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 95%;
    margin: auto;
    } 

#navbar {
    grid-area: 1 / 1 / 2 / 6;
    background: linear-gradient(to bottom, #0099ff 0%, #ffffff 100%);
    overflow: auto;
    border: solid #000;
    border-width: 2px;
    text-align: center;
    margin: auto;
    width: 100%;
  }
  
  /* Navigation links */
  #navbar button {
    float: left;
    padding: 30px;
    color: black;
    background: linear-gradient(to bottom, #0099ff 0%, #ffffff 100%);
    text-decoration: none;
    font-size: 17px;
    width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
    margin: auto;
  }

  #navbar img{
    min-width: 4%;
    width: 4%;
  }
  
  /* Add a background color on mouse-over */
  #navbar button:hover {
    background: linear-gradient(to bottom, #0099ff 0%, #d6d6d6 100%);
  }
  
  /* Style the current/active link */
  #navbar button.active {
    background: linear-gradient(to bottom, #002fff 0%, #ffffff 100%);
  }

  #TableGebruikers{
    grid-area: 2/2/5/5;
  }

  #TableGebruikers table{
    text-align: center;
  }

  #TableOefeningen{
    grid-area: 2/2/5/5;
    text-align: left;
  }

  #TableOefeningen table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    text-align: center;
  } 

  #TableOefeningen td:last-child {
    color: red;
    cursor: pointer;
    border: solid black 2px;
  }

  #ButtonContainer{
    grid-area: 2/5/2/5;
    margin: auto;
  }

  #ButtonContainer Button{
    border: solid black;
    border-width: 2px;
  }

  #GebruikerCreateContainer{
    grid-area: 2/5/2/5;
  }

  #OefeningCreateContainer{
    grid-area: 2/5/2/5;
    text-align: left;
    margin: auto;
  }

  #navfooter footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 93%;
    height: 40px;
    background: linear-gradient(to bottom, #0099ff 0%, #ffffff 100%);
    border: solid black;
    border-width: 2px;
    margin: auto;
    left: 0px;
    right: 0px;
  }
  
  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
  @media screen and (max-width: 500px) {
    #navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }