.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { 
    grid-area: 1 / 1 / 2 / 7; 
    border: solid black;
    background-color: lightblue;
    border-width: 3px;
}
.div2 { grid-area: 3 / 3 / 6 / 5; }

body{
    background-color: #edfeff;
}

h1 {
    padding: 0.5%;
}

p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

button{
    background-color: lightblue;
    border-color: black;
    border-width: 3px;
    padding: 10px;
    text-align: center;
    margin-left: 35%;
    width: 30%;
}

input {
    text-align: center;
    width: 40%;
}

img{
    width: 5%;
    height: auto;
    float: left;
    padding: 0.5%;
    margin-top: -1.4%;
}